*{
  box-sizing: border-box;
}

body {
    color: black;
    margin: 0;
}

div.Box {
  margin: 10px;
	border-radius: 3px;
  width: 40%;
  background: grey;
}

a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
}

h1 {
  background: lightblue;
  border: 0;
  margin-top: 0;
  padding: 5%;
}

h1,
h3,
a,
p {
  color: black;
  text-align: center;
}

button {
  border: none;
  background: lightblue;
  margin: auto;
}

/* .Box-5,
.Box-6,
.Box-7,
.Box-8 {
  display: none;
} */

.main {
  justify-content: center;
}

.main-nav {
  background: lightgrey;
}

.content {
  height: 350px;
  width: 90%;
  margin: auto;
}

.main-footer {
  height: 50px;;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

