.main-nav,
.sub-nav,
.container,
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
  
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
}
  
footer {
    margin-top: auto;
    align-self: center;
}