*{
    box-sizing: border-box;
  }
  
  body {
      color: black;
      margin: 0;
  }
  
  div.Box {
    margin: 10px;
      border-radius: 3px;
    width: 40%;
    background: grey;
  }
  
  a {
      text-decoration: none;
      text-align: center;
      display: inline-block;
      padding: 10px 15px;
  }
  
  h1 {
    background: lightblue;
    border: 0;
    margin-top: 0;
    padding: 5%;
  }
  
  h1,
  h3,
  a,
  p {
    color: black;
    text-align: center;
  }
  
  button {
    border: none;
    background: #0080FF;
    color: white;
    padding: 10px 20px;
  }
  button.white {
    border: none;
    background: white;
    color: #0080FF;
    padding: 10px 20px;
  }
  
  .main {
    justify-content: center;
  }
  
  .content {
    height: 350px;
    width: 90%;
    margin: auto;
  }
  
  .main-footer {
    height: 50px;;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  