<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <main>
        <form action="/user/signUp" method="post">

            <p>sign-up</p>
            <input text="email" class="signUp" name="email">
            <input text="password" class="signUp" name="password">
            <button type="submit">send</button>

        </form>

        <form action="/user/signIn" method="post">

            <p>sign-in</p>
            <input text="email" class="signIn" name="email">
            <input text="password" class="signIn" name="password">
            <button type="submit">send</button>

        </form>
    </main>
</body>
</html>